<html>
    <head>
        <title>Saba's blog</title>
    </head>
    <body>
        <div>
          <font color=red>
            <h1><a>Welcome to my blog! Hope you enjoy reading as much as I did creating!</a></h1>
          </font>  
        </div>

        <div>
            <h2><a>My family :)</a></h2>

<img src="https://raw.githubusercontent.com/sabasharf123/my-first-blog/master/blog/templates/blog/family.jpg" alt= "This is my very large, cool family!">

<div>
           <h2><a>My second post</a></h2>
           <p>Stay tuned for more!</p>
       </div>
   </body>
</html>
